@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
}
/* Start Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .logo {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 6px 15px;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  color: #2b1055;
}
/* End Header */
/* Start Section */
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
section img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  pointer-events: none;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#mountains_front {
  z-index: 10;
}
#text {
  font-size: 7.5vw;
  position: absolute;
  color: #fff;
  right: -350px;
  z-index: 9;
}
#btn {
  position: absolute;
  background-color: #fff;
  padding: 8px 30px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-decoration: none;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
}
.sec {
  padding: 100px;
  background-color: #1c0522;
  color: #fff;
}
.sec h2 {
  font-size: 3.5e;
  margin-bottom: 10px;
}
.sec p {
  font-size: 1.2pe;
}
/* End Section */
